@media screen and (min-width: 640px) {
body {
    background-image: url("https://cdn.discordapp.com/attachments/821368823985995797/822389545085304882/feuille.jpg");
    background-size:cover;
    }

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}   

h1 {
    font-family: 'Redressed-Regular' ;
    font-size: 90px;
    padding: 10px;
    text-shadow:  white 0.006em 0.006em 0.007em,
    #9c9c9c 1px 1px 1px,
    #9c9c9c 1px 2px 1px,
    #9c9c9c 1px 3px 1px,
    #9c9c9c 1px 4px 1px,
    #9c9c9c 1px 5px 1px,
    #9c9c9c 1px 6px 1px,
    #9c9c9c 1px 7px 1px,
    #9c9c9c 1px 8px 1px,
    #9c9c9c 1px 9px 1px,
    #9c9c9c 1px 10px 1px,
    #9c9c9c 1px 11px 1px,
    #9c9c9c 1px 12px 1px;color:#fff; 
}   

.resume {
    text-align: justify;
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

#container {
    font-family: "Nunito-Light";
    font-size: 20px;
    display:flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.Arthur {
    border-radius: 20px;
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
}

.Arthur:hover {transform:scale(1.2)
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

#msg {
    height: 90px;
    opacity: 0.5;
}

#pseudo {
    opacity: 0.5;
}

.send {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 30px;

}
}

@media screen and (min-width: 1280px) {
}  