ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'Redressed-Regular' ;
    font-size: 90px;
}

.resume {
    font-family: 'Nunito-Light';
    display: flex;
    justify-content: space-around;
}