#letter{
    display: flex;
    justify-content: center;
}


form {
    margin: 0 auto;
    width: 300px;
    padding-top: 20px;
  }
  
  label {
    line-height: 2;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background: rgba(51, 51, 51, 0.3);
    color: white;
    border: none;
    padding: 5px 10px;
} 

#carte{
    display: flex;
    justify-content: center;
}