@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Redressed&display=swap');

body {  
    font-family: "Nunito", sans-serif;
    background: url(images/fond.jpg);

}

main {
 
    width: 1500px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: flex-end;

}
a, a:hover, a:visited, a:active
{
	color:#000;
	text-decoration:none;
}

.flotte {
background-size : contain;
background-position : 50% 50%; 
background-image : url(/img/exemple/filter-image.jpg);
display : inline-block;
width : 250px; height : 250px;
border: none;
-moz-border-radius : 150px;
-webkit-border-radius : 150px;
border-radius : 150px;
}
.Rondjaime {
    background-size : contain;
background-position : 50% 50%; 
background-image : url(/img/exemple/filter-image.jpg);
display :inline-flex;
justify-content : space-around;
align-items : flex-end;
width : 30px; height : 30px;
border: none;
-moz-border-radius : 150px;
-webkit-border-radius : 150px;
border-radius : 150px;
padding-left: 0;
}


h1 {
font-size: 2em;
text-align: center;
font-family: 'Redressed', cursive;
}

h2 {
    font-size: 25px;
    text-decoration: underline overline #485003;
    font-style: italic;
    display: right;

}


.flotte:hover {
    transform: scale(1.4); /* (140% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

p {
    margin-top : 10px;
    font-size: 20px;
}

/* Création d'un fond jaune pour la div recette */


.fondText {
    width: 70%;
    padding: 5px 15px;
    text-align: start;

    
}

.fondText2 {
    width: 80%;
    padding: 5px 15px;
    text-align: end;
    
}

/* Création d'un fond gris pour la section recette */
.section {
    max-height: 300px;
    padding: 15px;
    background-color : rgba(153, 152, 152, 0.5); 
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px 10px 10px 10px;
}

.sectionLeft {
    max-height: 300px;
    padding: 15px;
    background-color : rgba(153, 152, 152, 0.5); 
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 10px;
}

.fondJaune {
    display: flex;
    width: 45%;
    background-color : rgb(248, 248, 225);
    /*justify-content: space-between;*/
    border-radius: 10px 10px 10px 10px;
    flex-wrap: nowrap;

}

.fondJaune2 {
    display: flex;
    width: 45%;
    background-color: rgb(248, 248, 225);
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
}
.buttonplacement {
    display: flex;
justify-content:right;

}

.button {
    background-color: #ff6a19;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}

.button:hover {
    background-color: #ff955c;
}

.button strong {
    display:flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    
}

.rating a {
    display: inline-flex;
    align-items: left;
    color: rgb(211, 240, 46);
    text-decoration: none;
    font-size: 2.5em;
    transition: color .4s;
    
 }
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.mrtn-font-discret {
    font-size: 1.5rem;
    color: white
}



@media screen and (max-width: 640px) {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Redressed&display=swap');

body {  
    font-family: "Nunito", sans-serif;
    background: url(images/fond.jpg);

}

main {
 
    width: 1500px;
    margin: 0 auto;
}


.flotte {
background-size : contain;
background-position : 50% 50%; 
background-image : url(/img/exemple/filter-image.jpg);
display : inline-block;
width : 250px; height : 250px;
border: none;
-moz-border-radius : 150px;
-webkit-border-radius : 150px;
border-radius : 150px;
}


h1 {
font-size: 2em;
text-align: center;
font-family: 'Redressed', cursive;
}
.fondarthur{
    display: flex;
    background-image: url(images\14057.png);
}
h2 {
    font-size: 25px;
    text-decoration: underline overline #485003;
    font-style: italic;
    display: right;

}


.flotte:hover {
    transform: scale(1.4); /* (140% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

p {
    margin-top : 10px;
    font-size: 20px;
}

/* Création d'un fond jaune pour la div recette */


.fondText {
    width: 70%;
    padding: 5px 15px;
    text-align: start;

    
}

.fondText2 {
    width: 80%;
    padding: 5px 15px;
    text-align: end;
    
}

/* Création d'un fond gris pour la section recette */
.section {
    max-height: 300px;
    padding: 15px;
    background-color : rgba(153, 152, 152, 0.5); 
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px 10px 10px 10px;
}

.sectionLeft {
    max-height: 300px;
    padding: 15px;
    background-color : rgba(153, 152, 152, 0.5); 
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 10px;
}

.fondJaune {
    display: flex;
    width: 55%;
    background-color : rgb(248, 248, 225);
    /*justify-content: space-between;*/
    border-radius: 10px 10px 10px 10px;

}

.fondJaune2 {
    display: flex;
    width: 55%;
    background-color: rgb(248, 248, 225);
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
}

.button {
    background-color: #ff6a19;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}

.button:hover {
    background-color: #ff955c;
}

.button strong {
    font-size: 1.5rem;
}


.rating a {
    color: rgb(211, 240, 46);
    text-decoration: none;
    font-size: 2.5em;
    transition: color .4s;
 }
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.mrtn-font-discret {
    font-size: 1.5rem;
    color: white
}


.accordion {
    max-width: 400px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 0px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: rgb(141, 137, 137);
    color: rgb(243, 234, 234);
    color: bold;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position:relative;
    background: rgb(248, 248, 225);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: 150px;
    padding: 10px;
}
}