#letter{
    display: flex;
    justify-content: center;
    font-family: reserved, sans-serif;
}


form {
    margin: 0 auto;
    width: 300px;
    padding-top: 20px;
  }
  
  label {
    line-height: 2;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background: rgba(51, 51, 51, 0.3);
    color: white;
    border: none;
    padding: 5px 10px;
} 
#carte{
   
}


.bloc{
display: inline-block;
width: 25%;
}
/* footer part*/

footer{

    background: rgba(51, 51, 51, 0.3);
    
    margin-top: 15px;
    
    width:100%;
    
    padding-top: 15px;
    
    height: 15px;
    
    display: flex;
      justify-content: flex-end;
    }


    .imgFooter{
      width: 25px;
      padding: 1%;
    }




@media screen and (max-width: 640px){

#carte{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 20%;
}

#letter{
 font-size: smaller;
}